:root {
    --primary: #3acdf7;
}

.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease out;
    background: #fff;
    color: #6568F4;
    transition: 250ms;
}

.btn--primary {
    background-color: var(--primary);
}
