h3, p {
    color: black;
}

h1 {
    padding-left: 2.5%;
}

.box {
    padding: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
}

.text {
    padding-left: 1%;
}

h3 {
    padding-left: 1%;
}

hr {
    width: 95%;
}