.footerContainer {
    color: black;
    display: flex;
    background-color: #1687A7;
    padding-bottom: 70px;
}

.footerText {
    display: flex;
}

.footerFirstCol {
    margin-left: 30%;
    margin-right: 60%;
    display: inline-block;
    white-space: nowrap;
}

.footerSecondCol {
    margin-right: 60%;
    display: inline-block;
    white-space: nowrap;
}

.footerThirdCol {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
}

.footerImg {
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: 40%;
}

.footerItem {
    margin-top: 5%;
    margin-bottom: 5%;
}

.footerBottomText {
    color: black;
    text-align: center;
    padding: 20px;
    background-color: #1687A7;
}