body {
    background-color: #F6F5F5;
    margin: 0;
}

.home-nav > li > a {
    color: white;
    text-decoration: none;
    z-index: 1;
}

.container {
    background-image: url("bannerPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 700px;
    width: 100%;

    padding-top: 10px;
}

.header-t > h1 {
    color: white;
    text-align: center;
    font-size: 96px;
    margin-top: auto;
}