body {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Source Sans Pro', sans-serif;
    /*background-color: #7AC358;*/
    /*color: white;*/
}

.heading {
    margin: 0 -9999%;
    padding: 0.25rem 9999%;
    background-color: #7AC358;
    color: white;
}

.grid-container-account {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.left-item {
    grid-column-start: 1;
}

.right-item {
    grid-column-start: 2;
}

.grid-container-interest {}

#interest {
    width: 80%;
}