body {
    background-color: white;
    font-family: 'Cardo', serif;
    font-family: 'Source Sans Pro', sans-serif;
    /*background-color: #7AC358;*/
    color: #f4f6f4;
    overflow: none;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #be6961;
}

p {
    font-family: 'Oswald', sans-serif;
}

.heading {
    padding-top: .25%;
    padding-bottom: .50%;
    background-color: #6FA9AE;
    color: white;
}

.heading_item {
    padding-left: 15%;
    padding-right: 10%;
}

.grid-container-account {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

.left-item {
    border-width: 1px;
    grid-column-start: 1;
    color: #57605D;
    border: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 3%;
}

.right-item {
    color: #57605D;
    grid-column-start: 2;
    border: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-bottom: 3%;
}

.bottom-item {
    color: #57605D;
    border: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    padding-bottom: 3%;
    grid-column: 1/span 2;
}

.input_item {
    padding: 1.5%;
}

.input_field {
    width: 55%;
}

input {
    padding: 1.5%;
}

select {
    padding: 1.5%;
}

input:hover {
    background-color: #e7eeee;
    transition: all 0.3s ease-out;
}

.sign_up_button {
    padding: 3%;
    text-align: center;
}

.loginforSignup {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.loginforSignup:hover {
    padding: 8px 20px;
    transition: all 0.3s ease out;
    background: #1687A7;
    color: white;
    transition: 250ms;
}